
body {
    100%;
    background-color: #f1faee;
    background-image: url("../img/sky_and_clouds.jpg") !important;
    background: fixed;
    background-size: 100% 100% !important;
}

#start_flying{
    font-size: 2.5rem;
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bold;
}
#logo_header
 {
    font-size: 1.5rem;
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bold;
}

#flights_header,
#airport_header, #home_header, 
#airline_header, #dashboard_header,
#about_header,
#go_to_home_login
 {
    font-size: 1.2rem;
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: normal;
}

/* #index_list {
    
} */

#dashboard-table {
    vertical-align: middle;
    border-radius: 6%;
}
#mymodal,
#addFlight {
    color: white;
}
/*#mymodal-footer,
#mymodal-header,*/
#mymodal-body,
#addFlight-body {
    background-color: #ade8f4;
    background-image: url("../img/sky_and_clouds.jpg") !important;
    height: 100%;
    width: 100%;
}


#addFlight,
#editModal {
   background-color: rgb(156, 182, 190) 0.3 !important;
}

#select-airport,
#select-airline {
    width: 100%;
}

#date-form-width {
    width: 65%;
}

#airport_list_index,
#airline_list_index,
#jumbo_index, #dashboard-table,
#go_to_home_login,
#signin_label
{
    color: white;
}

a {
    text-decoration: none;
}

h3 {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    color: white;
    
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    position: initial;
    color: white;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    color: rgb(66, 80, 102);
}

footer li a {
    font-weight: 700;
}

p.copyright {
    
    font-size: 14px;
    color: white;
}

#footer {
    color: white;
    background-color: rgba(93, 179, 250, 0.5);
}

#name-footer {
    color: rgb(66, 80, 102);
}

#footer-a1, #footer-a2, 
#footer-a3, #footer-a4, 
#footer-a5 {
    color: rgb(66, 80, 102);
}
