<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="#" th:replace="base :: bootstrap-css"/>
    <link href="#" th:replace="base :: custom-css"/>
    <div th:replace="base :: fonts-akaya"></div>

    <title>Dashboard</title>
</head>
<body>
<div th:replace="header :: navigation-bar">
    header
</div>
<section>
    <div class="container">
        <div id="jumbo_index" class="jumbotron">
            <h1 id="start_flying" class="display-4">"Dashboard"</h1>
            <p class="lead">Hello Cosmin! </p>
            <p class="lead">This is the admin page. Feel free to "show off" your master skills. </p>
            <a class="btn btn-outline-light my-2 my-sm-0" href="#" th:href="@{/addFlight}"
               type="button">Add flight</a>
            <hr class="my-4">
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="jumbotron">
            <div class="controls-row row">
                <div class="control-group col-md-6">
                    <div class="input-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="jumbotron">
            <div class="controls-row row">
                <div class="control-group col-md-12">
                    <div class="table-responsive-md ">
                        <table class="table table-bordered border-light" id="dashboard-table">
                            <div th:if="${param.success}">
                                <div class="row alert alert-outline-success text-white">Flight was successfuly deleted
                                </div>
                            </div>
                            <tr>
                                <th scope="col">Airline</th>
                                <th scope="col">Flight No</th>
                                <th scope="col">Departure Airport</th>
                                <th scope="col">Departure Date</th>
                                <th scope="col">Arrival Airport</th>
                                <th scope="col">Arrival Date</th>
                                <th scope="col">Action</th>
                            </tr>
                            <tr th:each="flight: ${flights}">
                                <td hidden="1" th:text="${flight.id}"> ***</td>
                                <td th:text="${flight.airline.airlineName + ' (' + flight.airline.airlineCode + ')'}">
                                    ***
                                </td>
                                <td th:text="${flight.flightNumber}"> ***</td>
                                <td th:text="${flight.departureAirport.airportName}"> ***</td>
                                <td th:text="${#dates.format(flight.departureDate, 'dd.MM.yyyy HH:mm')}"> ***</td>
                                <td th:text="${flight.arrivalAirport.airportName}"> ***</td>
                                <td th:text="${#dates.format(flight.arrivalDate, 'dd.MM.yyyy HH:mm')}"> ***</td>
                                <td>
                                    <div class="d-flex justify-content-left">
                                        <a th:href="@{/edit/{id}(id=${flight.id})}"
                                           class="btn btn-outline-light btn-xs"
                                           style="padding: 5px; margin: 2px" title="Edit" data-bs-toggle="modal"
                                           data-bs-target="#editModal" th:attrappend="data-bs-target=${flight.id}">
                                            <img th:src="@{/img/edit-icon.png}"/>
                                        </a>
                                        <a th:href="@{/delete/{id}(id=${flight.id})}"
                                           class="btn btn-outline-danger btn-xs"
                                           style="padding: 5px; margin: 2px"

                                           onclick="return confirm('You are about to `drop down` a flight. Are you sure you wanna do that?')"
                                           title="Delete"><img th:src="@{/img/delete-sign.png}"/></a>
                                    </div>
                                    <div class="modal" id="editModal" th:attrappend="id=${flight.id}" role="dialog"
                                         tabindex="0"
                                         data-bs-backdrop="static">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div id="mymodal-body" class="modal-body">
                                                    <div>
                                                        <p>Edit flight information</p>
                                                    </div>
                                                    <hr>
                                                    <form action="#" method="POST" th:object="${flight}">
                                                        <input type="hidden" name="id" th:value="@{flight.id}">
                                                        <div class="form-group">
                                                            <div class=" form-group">
                                                                <label>Airline :</label>
                                                                <select name="airline" id="select-airline">
                                                                    <option th:text="${flight.airline.airlineName}"
                                                                            selected></option>
                                                                    <option value="">hida hida</option>
                                                                </select>
                                                            </div>
                                                            <div class=" form-group">
                                                                <label>Departure Airport :</label>
                                                                <select name="departure-airport" id="select-airport">
                                                                    <option th:text="${flight.departureAirport.airportName}"
                                                                            selected></option>
                                                                    <option value="">bla bla</option>
                                                                </select>
                                                            </div>
                                                            <div class=" form-group">
                                                                <label>Arrival Airport :</label>
                                                                <select name="arrival-airport" id="select-airport">
                                                                    <option th:text="${flight.arrivalAirport.airportName}"
                                                                            selected></option>
                                                                    <option value="">hida hida</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Departure - date/time</label>
                                                                <div class="form-group form-control inline bg-transparent">
                                                                    <input id="date-form-width" type="text"
                                                                           name="departure-date"
                                                                           th:value="${flight.departureDate}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Arrival - date/time</label>
                                                                <div class="form-group form-control inline bg-transparent">
                                                                    <input id="date-form-width" type="text"
                                                                           name="arrival-date"
                                                                           th:value="${flight.arrivalDate}">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Flight number</label>
                                                                <input type="text" class="form-control"
                                                                       name="flight-number"
                                                                       th:value="${flight.flightNumber}">
                                                            </div>
                                                            <hr>
                                                            <div class="form-group">
                                                                <button class="btn btn-outline-light" type="sbumit">Save
                                                                    flight
                                                                </button>
                                                                <button type="button" class="btn btn-outline-danger"
                                                                        data-bs-dismiss="modal">Close
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

</section>
<footer th:replace="footer::footer-base"></footer>
<script src="#" th:replace="base :: bootstrap-js"></script>
</body>
</html>
