<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="#" th:replace="base :: bootstrap-css"/>
    <link href="#" th:replace="base :: custom-css"/>
    <div th:replace="base :: fonts-akaya"></div>
    <title>Airports</title>
</head>
<body>
<section>
    <div th:replace="header :: navigation-bar">
        header
    </div>
</section>
<section>
    <div class="container">
        <div id="jumbo_index" class="jumbotron">
            <h1 id="start_flying" class="display-4">"START FLYING"</h1>
            <p class="lead">"Your wings already exist. All you have to do is fly."</p>
            <p class="lead">Just select your favorite destination, and let us do the search for you.</p>
            <hr class="my-4">
        </div>
    </div>
</section>
<div class="container">
    <div class="jumbotron">
        <div class="controls-row row">
            <div class="control-group col-sm-10 offset-sm-2">
                <form th:action="@{/edit}" method="post"
                      th:object="${flight}">
                    <input type="hidden" name="id" th:value="*{id}">
                    <div class="form-group">
                        <div class=" form-group">
                            <label>Airline :</label><br>
                            <label></label>
                            <select name="airline" id="select-airline" th:field="*{airline}">
                                <option th:text="*{airline.airlineName}" value="">Select new airline</option>
                                <option th:each="editAirline : ${editAirlines}"
                                        th:value="${id}"
                                        th:text="${editAirline.airlineName} + ' (' + ${editAirline.airlineCode} + ')' + ' - ' + ${editAirline.airlineCountry}">
                                    Option
                                </option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label>Departure Airport :</label>
                            <select name="departure-airport" id="select-airport" th:field="*{departureAirport}">
                                <option th:text="*{departureAirport.airportName}" value=""></option>
                                <option th:each="departureAirport : ${departureAirports}"
                                        th:value="${id}"
                                        th:text="${departureAirport.airportName} + ' (' + ${departureAirport.airportCode} + ')' + ' - ' + ${departureAirport.airportCountry}">
                                    Option
                                </option>
                            </select>
                        </div>
                        <div class=" form-group">
                            <label>Arrival Airport :</label>
                            <select name="arrival-airport" id="select-airport" th:field="*{arrivalAirport}">
                                <option th:text="*{arrivalAirport.airportName}" value=""
                                ></option>
                                <option th:each="arrivalAirport : ${arrivalAirports}"
                                        th:value="${id}"
                                        th:text="${arrivalAirport.airportName} + ' (' + ${arrivalAirport.airportCode} + ')' + ' - ' + ${arrivalAirport.airportCountry}">
                                    Option
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Departure - date/time</label>
                            <div class="form-group form-control inline bg-transparent">
                                <input id="date-form-width" type="datetime-local"
                                       name="departure-date"
                                       th:value="*{departureDate}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Arrival - date/time</label>
                            <div class="form-group form-control inline bg-transparent">
                                <input id="date-form-width" type="datetime-local"
                                       name="arrival-date"
                                       th:value="*{arrivalDate}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Flight number</label>
                            <input type="text" class="form-control"
                                   name="flight-number"
                                   th:value="*{flightNumber}">
                        </div>
                        <hr>
                        <div class="form-group">
                            <button class="btn btn-outline-light" type="sbumit">Save
                                flight
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer::footer-base"></footer>

<script src="#" th:replace="base :: bootstrap-js"></script>
</body>
</html>

