<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="#" th:replace="base :: bootstrap-css"/>
    <link href="#" th:replace="base :: custom-css"/>
    <div th:replace="base :: fonts-akaya"></div>
    <title>Airports</title>
</head>
<body>
<section>
    <div th:replace="header :: navigation-bar">
        header
    </div>
</section>
<section>
    <div class="container">
        <div id="jumbo_index" class="jumbotron">
            <h1 id="start_flying" class="display-4">"START FLYING"</h1>
            <p class="lead">"Your wings already exist. All you have to do is fly."</p>
            <p class="lead">Just select your favorite destination, and let us do the search for you.</p>
            <hr class="my-4">
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div
            <div class="row">
                <div class="col-sm-6">
                    <div class="card bg-transparent">
                        <div class="card-body bg-transparent text-white">
                            <h5 class="card-title">AIRPORTS</h5>
                            <p class="card-text">Our partner airport are listed in the "Airport" section.
                                Use the search field above to look for the desired airport.
                                Check for the flight listed in the airports schedule, and fly away.</p>
                            <a th:href="@{/airports/{page}(page=1)}" class="btn btn-primary">Airports -></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card bg-transparent">
                        <div class="card-body bg-transparent text-white">
                            <h5 class="card-title">AIRLINES</h5>
                            <p class="card-text">You can choose from our variety of airlines to plan your journey.
                                See the flights provided and fit one for your convenience.
                                We ensure you, you will not be desapointed. Spread your wings and fly.</p>
                            <a th:href="@{/airlines/{page}(page=1)}" class="btn btn-primary">Airlines -></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>

    <div class="container">
        <div class="jumbotron">
            <div class="controls-row row">
                <div class="control-group col-md-6">
                    <table>
                        <th></th>
                        <tr th:each="airport : ${airportList}">
                            <td>
                                <a id="airport_list_index"
                                   th:text="${airport.airportName} + ' (' + ${airport.airportCode} + ')' + ' - ' + ${airport.airportCountry}"
                                   href="https://www.google.com">link</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="control-group col-md-6">
                    <table>
                        <th></th>
                        <tr th:each="airline: ${airlines}">
                            <td>
                                <a id="airline_list_index"
                                   th:text="${airline.airlineName} + ' (' + ${airline.airlineCode} + ')' + ' - ' + ${airline.airlineCountry}"
                                   href="https://www.google.com">link</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row" th:fragment="pagination">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <nav aria-label="Pagination">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                                    <a class="page-link" th:href="@{|/airports/${pageNumber}|}"
                                       th:text=${pageNumber}>1</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="footer::footer-base"></footer>

<script src="#" th:replace="base :: bootstrap-js"></script>
</body>
</html>
