<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="header :: css-link">
        link css
    </div>
    <title>Log in</title>
</head>
<body class="text-center" style="background-color: #f1faee">
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <main class="form-signin">
                <form>
                    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>

                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                    <p class="mt-5 mb-3 text-muted"> Cosmin Bondoi - All rights reserved - 2021© </p>
                </form>
            </main>
        </div>
    </div>
</div>
<div th:replace="footer :: script-js">
    footer
</div>
</body>
</html>